dashboard.medpoo.startapp.one {
	import helpers/base
	import helpers/tls_cloudflare_wildcard
	import helpers/react

	root /data/medpoo/dashboard.medpoo.startapp.one
}

staging.dashboard.medpoo.startapp.one {
	import helpers/base
	import helpers/tls_cloudflare_wildcard
	import helpers/react

	root /data/medpoo/staging.dashboard.medpoo.startapp.one
}
