dashboard.iklub.startapp.one {
	import helpers/base
	import helpers/tls_cloudflare_wildcard
	import helpers/react

	root /data/iklub/dashboard.iklub.startapp.one
}

staging.dashboard.iklub.startapp.one {
	import helpers/base
	import helpers/tls_cloudflare_wildcard
	import helpers/react

	root /data/iklub/staging.dashboard.iklub.startapp.one
}
